
/*  Colors */
:root {
    --primary-color: #DABB9E;
    --secondary-color: #603809;
    --third-color: #F8E4BE;
    --background-color: #221518;
    --background-white: #FFFFFF;
    --logo-color: #F9C06A;
}
